 .wancho
  width: 95%;
  max-width: 1180px;
  margin: auto;
img
  max-width: 100%;
  height: auto;
  display: block;
body
  font-size: 15px;
  font-family: 'Conv_PROXIMANOVA-REGULAR_1', sans-serif;
  color: #575659;
  background-color: #fff;
.Navbar
  text-align: right;
button
  background: transparent;
  border: none;
  border: 2px solid rgb(55, 179, 74)
.Navbar button
    background: none;
    border: none;
.FormAddIte
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid gray;
  margin: 0
.FormAddItem input
  width: 50%;
  box-sizing: border-box;
.FormAddItem select
  width: 100%;
.FormAddItem button
  width: 100%;
.flor-cnt
  display: flex;
  flex-wrap: wrap;
.flor
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0;
  margin-bottom: 40px;
  position: relative;
.flor h3
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px
.flor button
    max-width: 80%;
    margin: auto;
    height: 30px;
    font-size: 12px;
    border-radius: 4px;
    transition: all 0.25s;
    margin-top: 20px;
.flor button:hover
  background: rgb(55, 179, 74);
  color: #fff;

button[disabled]
  background: rgb(55, 179, 74);
  color: #fff;
  position: relative;
  top: -50%;
  width: 100%;
  transform: rotate(30deg);
  font-size: 30px;
  height: auto;

.ActionWrap
  margin-bottom: 60px


//Header CSS
.Header
  position: relative
  color: #fff;
  text-align: center;
  margin-bottom: 60px
  background: tomato
  padding: 20px 0px
  .wancho
      position: relative
  img
    width: 100%
  h1
    color #fff
    font-size: 60px
    text-transform: uppercase
    letter-spacing: 2px
    font-weight: 800


//CARRITO CSS
.CarritoWrap
    width 100%
    h2
      font-size: 20px
.CarritoListaProductos,
.CarritoTotal
  width: 30%
.CarritoListaProductos
  margin: 0
  button
    border  1px solid #000
  li
    border-bottom: 1px solid #000
    position: relative
    display: flex
    justify-content: space-between
    min-height: 50px
    align-items: center
    button
      position: absolute
      left: 110%
      top 50%
      transform: translateY(-50%)
  span
    margin 0
.CarritoPrecio
  margin: 0
.CarritoTotal
  display: flex
  justify-content: space-between
  padding: 15px 0px


  
//ADMIN CSS
input[name*='precio']
  text-align: right
.AdminWrap
    margin-bottom: 60px
    h2
      font-size: 20px
.AdminWrapFlor
  display: flex
  flex-wrap: wrap
.FormAddItem
  margin: 0
  width: 32%
  margin-bottom: 20px
  margin-right: 2%
  padding: 10px
  box-sizing: border-box
  border: 1px solid #000
  input,
  select
    min-height: 30px
    border none
  button
    border 1px solid red
    background: tomato
    margin-top: 20px
    color: #ffffff
    font-size: 16px
  &:nth-child(3n)  
        margin-right: 0%

//Animacion
.count-enter
    position: absolute
    transform translateY(100%)
    left 0
    top 50%
    &.count-enter-active
          transition: 0.5s
          transform translateY(0%)
.count-exit
    position: absolute
    transform translateY(0%)
    left: 0
    bottom: 0
    &.count-exit-active
          transition: 0.5s
          transform translateY(-100%)


@media (max-width: 960px)
    .flor
      width: 33.33%;
    .FormAddItem
      width: 49%
      margin-right: 0
      &:nth-child(odd)
            margin-right: 2%
    .CarritoListaProductos, .CarritoTotal
      width: 50%
@media (max-width: 650px)
    .flor
      width: 50%;
    .CarritoListaProductos, .CarritoTotal
      width: 80%
@media (max-width: 480px)
    .flor h3
      font-size: 18px
    .flor-cn
      justify-content: space-between;
      .flor
        width: 100%;
    .FormAddItem
      width: 100%
      margin-right: 0
    .FormAddItem:nth-child(odd)
      margin-right: 0
    .Header h1
      font-size: 40px