 .wancho {
  width: 95%;
  max-width: 1180px;
  margin: auto;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
body {
  font-size: 15px;
  font-family: 'Conv_PROXIMANOVA-REGULAR_1', sans-serif;
  color: #575659;
  background-color: #fff;
}
.header {
  color: #fff;
  background: green;
  text-align: center;
}
.Navbar {
  text-align: right;
}
button{
  background: transparent;
  border: none;
  border: 2px solid rgb(55, 179, 74)
}
.Navbar button{
    background: none;
    border: none;
}
.FormAddItem{
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid gray;
  margin: 0
}
.FormAddItem input{
  width: 50%;
  box-sizing: border-box;
}
.FormAddItem select{
  width: 100%;
}
.FormAddItem button{
  width: 100%;
}
.flor-cnt{
  display: flex;
  flex-wrap: wrap;
}
.flor{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0;
  margin-bottom: 40px;
  position: relative;
}
.flor h3{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px
}
.flor button{
    max-width: 80%;
    margin: auto;
    height: 30px;
    font-size: 12px;
    border-radius: 4px;
    transition: all 0.25s;
    margin-top: 20px;
}
.flor button:hover {

  background: rgb(55, 179, 74);
  color: #fff;
}

button[disabled] {

  background: rgb(55, 179, 74);
  color: #fff;
  position: relative;
  top: -50%;
  width: 100%;
  transform: rotate(30deg);
  font-size: 30px;
  height: auto;
  
}
@media (max-width: 960px) {
  .flor {
    width: 33.33%;
  }
}

@media (max-width: 650px) {
  .flor {
    width: 50%;
  }
}

@media (max-width: 480px) {

  .flor {
    width: 48%;
  }
  .flor-cnt{
    justify-content: space-between;
  }

}

@media (max-width: 480px) {
  
    .flor {
      width: 100%;
    }
  }