.wancho {
  width: 95%;
  max-width: 1180px;
  margin: auto;
}
body {
  font-size: 15px;
  font-family: 'Conv_PROXIMANOVA-REGULAR_1', sans-serif;
  color: #575659;
  background-color: #fff;
}
.header {
  color: #fff;
  background: green;
  text-align: center;
}
